

@media only screen and (max-width: 376px) {
    /* body {
      background-color: lightblue;
    } */
    .header-area{
        width: 375px;
        height: 564px;
    }
    .menu{
        display: none;
    }
    .header{
        width: 90%;
        left: 20px;
        top: 20px;
        height: 80px;
    }
    .header-2{
        width: 75px;
        height: 41px;
        top: 20px;
        left: 19px;
    }
    .header-2 svg{
        width: 50px;
    }
    .header-3{
        top: 30px;
        left: 290px;
    }
    .header-3 ul{
        display: none;
    }
    .header-3 i{
        display:block;
        font-size: 25px;
    }

    .header-area h1{
        top: 140px;
        left: 20px;
        font-size: 42px;
        width: 335px;
        height: 145px;
        text-align: left;
        line-height: 50px;
    }
    .header-area button{
        top:58%;
        left: 6%;
        width: 170px;
        height: 60px;
        background: #D99655;
        text-align: center;
        color: #FFF;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: capitalize;
        border: 0;
        outline: 0;
        border-radius: 5px;
        cursor: pointer;
    }
    .header-animate-1 svg{
        display: none;
    }
    .header-animate-2 svg{
        display: none;
    }
    .header-animate-3 svg{
        display: none;
    }
    .header-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 375px;
        height: 119px;
        /* display: flex; */
        /* height: 370px; */
    }
    .header-bottom img{
        width: 87px;
        height: 114px;
        margin-right: 2px;
    }
    .header-bottom img:nth-child(2){
        width: 87px;
        height:99px;
        margin-right:2px;
    
    }
    .header-bottom img:nth-child(3){
        width: 87px;
        height:80px;
        background: #EDCC8B;
        margin-right:2px;
    
    }
    .header-bottom img:nth-child(4){
        width: 87px;
        height: 119px;
        /* margin-right: 10px; */
    }

    /* HEADER-AREA-END */

    .collection-area{
        height:1003px;
        padding:50px 0 30px; 
        width: 375px;
    }
    .collection-top{
        width: 88%;
        margin: 0 auto
    }
    .collection-top h1{
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        line-height:42px;
    
    }
    .collection-top p{
        font-size: 16px;
        line-height: 24px;
        color: #504C48;
    }
    .collection-botom{
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .collection-1{
        margin-right: 20px;
        position: relative;
    }
    .collection-1 img{
        width: 335px;
        height: 405px;
    }
    .collection-1 h3{
        position: absolute;
        bottom:7%;
        left:6%;
        font-size: 26px;
        line-height:32px;
        text-align: left;
    }
    .collection-2 img{
        width: 335px;
        height:404px;
    }
    .collection-2 h3{
        position: absolute;
        bottom:7%;
        left:6%;
        font-size: 26px;
        line-height:32px;
        text-align: left;
    }

    /* collection-area-end */

    .new-arrival-area{
        height: 776px;
        padding: 70px 0 80px;
        width: 100%;
    }
    .arrival-top{
        width: 85%;
        margin: 0 auto;
    }
    .arrival-top h1{
        font-size: 36px;
        line-height: 42px;
    }
    .arrival-top p{
        padding-top: 10px;
        font-size: 16px;
        line-height: 24px;
    }
    .arrival-botom{
        width: 85%;
        margin: 50px auto 0;
        display: flex;
        flex-direction: column;
    }
    .arrival-1 img{
        width: 335px;
        height: 452px;
    }
    .arrival-1:nth-child(2){
        display: none;
    }
    .arrival-1:nth-child(3){
        display:none;
    }
    .arrival-1 h5{
        text-align: left;
        padding-top: 15px;
    }
    .arrival-1 span{
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        text-align: left;
        margin-right: 200px;
        /* display: inline-block; */
    }
    .offer-area{
        height: 578px;
    }
    .offer-top{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .offer-1{
        padding:40px 0 50px ;
        color: #fff;
        /* flex-basis: 70%; */
    }
    .offer-1 h6{
        color: #FFF0E3;
        font-size: 16px;
        line-height: 28px;
    }
    .offer-1 h1{
        font-size: 36px;
        line-height: 42px;
        padding: 10px 0 20px;
    }
    .offer-1 h3{
        font-size: 22px;
        line-height: 28px;
    }
    .offer-bottom{
        position: absolute;
        bottom: 0;
        left: 5%;
        width:95%;
        display: flex;
    }
    .offer-bottom img:nth-child(1){
        display: none;
    }
    .offer-bottom img:nth-child(2){
        display:none;
    }
    .offer-bottom img:nth-child(3){
        width: 160px;
        height: 136px;
        /* padding-bottom: 100px; */
    }
    .offer-bottom img:nth-child(4){
        width: 159px;
        height: 198px;
        margin-top: 118px;
    }
    .offer-bottom img:nth-child(5){
        display:none;
    }
    .offer-bottom img:nth-child(6){
        display:none;
    }

    .brand-area{
        height: 480px;
    }
    .brand{
        height: 140px;
        /* background: #1E1C1A; */
        margin:50px 0 30px;
        position: relative;
    }
    .brand-top{
        width: 85%;
        margin: 0 auto;
        display: ;
        /* background: #1E1C1A; */
    }
    .brand-1 h1{
        font-family: "Bebas Neue", sans-serif;
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        text-align: left;
    }
    .brand-2{
        display: none;
    }
    .brand-1 p{
        padding: 10px 0 20px;
        font-size: 16px;
        line-height: 24px;
    }

    .brand-bottom{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: absolute;
        left: 5%;
        padding-top: 30px;
    }
    .nike{
        width: 160px;
        height:110px;
        background: #F6F6F8;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        /* margin-top: 30px; */
    }
    .nike:nth-child(5){
        display: none;
    }
    .nike img{
        width: 87px;
        height: 44px;
    }


    .about-area{
        height: 883px;
        background: #fff0e3;
        /* font-family: "Inter", sans-serif; */
    }

    .about-top{
        width: 90%;
        margin: 0 auto;
        padding-top: 50px;
    }

    .about-top h2{
        font-size: 36px;
        line-height: 42px;
    }

    .about-top p{
        font-size: 16px;
        line-height: 24px;
    }

    .about-top button{
        width: 170px;
        height: 60px;
        font: size 18px;
        margin-top: 20px;
        letter-spacing: 5%;
        margin-bottom: 50px;
    }
    .about-bottom {
        width: 95%;
        margin: 0 auto;
        /* display: flex; */
        
    }

    .about-bottom img{
        width: 221px;
        height: 218px;
        margin-right: 10px;
        margin-top: 20px;
        /* display: flex;
        order: 2; */
    }
    .about-bottom img:nth-child(2){
        width: 106px;
        height: 144px;
        /* order: 1; */
    }

    .abouts{
        height: 98px;
        border-bottom: none;
        margin: 30px 0;
    }

    .about-icon{
        font-size: 20px;
        width: 88px;
        height: 88px;
    }
    .about-1 h2{
        font-size: 36px;
        line-height: 60px;
    }
    .about-1{
        display: none;
    }
    .about-1 i:nth-child(2){
        width: 16px;
        height: 19px;
    }
    .about-1:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-1:nth-child(3){
        display: none;
    }
    .about-1:nth-child(4){
        display: none;
    }

    .inspiration-area{
        height: 530px;
    }

    .inspiration-top{
        width: 95%;
        margin: 0 auto;
        padding: 10px 20px 30px;
        display: block;
        /* justify-content: space-between; */
    }
    .inspiration-top h1{
        font-size: 36px;
        line-height: 42px;
    }

    .inspiration-top a{
        font-size: 16px;
        line-height: 24px;
        color: #504C48;
        text-decoration: none;
    }
    .inspiration-bottom img{
        width: 335px;
        height: 421px;
        margin-right: 20px;
    }
    .inspiration-bottom img:nth-child(3){
        display: none;
    }
    .inspiration-bottom img:nth-child(4){
        display: none;
    }

    .footer{
        height: 700px;
        border-bottom: 2px solid #4b4947;
    }

    .footer-top{
        text-align: center;
        padding: 70px 0;
        color: #fff;
        width: 95%;
        margin: 0 auto;
    }
    .footer-top p{
        font-size: 16px;
        line-height: 26px; 
        color:  #a2a09e;
    }
    .footer-mid {
        width: 90%;
        display: block;
        margin: 0 auto; 
    }

    .footer-mid p{
        color: #767472;
        font-size: 14px;
        line-height: 20px;
        padding-left: 0;
        padding-bottom: 20px;
    }
    .footer-mid h4{
        font-size: 26px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.02em;
        text-align: left;
        color: #FFFDF9;
    }
    .footer hr{
        color: #4b4947;
        width: 90%;
        margin: 30px auto;
        
    }
  }